<div class="container-fluid">
  <div class="container">
    <div class="py-5 text-center text-light">
      <h2>Tela de Cadastro</h2>
      <p class="lead text-danger">Informações do Perfil de Usuário</p>
    </div>

      <div class="row g-3">
        <div class="col-sm-6">
          <label for="firstName" class="form-label text-light">Primeiro Nome:</label>
          <input type="text" class="form-control" id="firstName" placeholder="Nome" value="" required>
          <div class="invalid-feedback text-danger">
            Por favor insira um nome válido.
          </div>
        </div>
  
        <div class="col-sm-6">
          <label for="lastName" class="form-label text-light">Último Nome:</label>
          <input type="text" class="form-control" id="lastName" placeholder="Sobrenome" value="" required>
          <div class="invalid-feedback text-danger">
            Por favor insira um Sobrenome válido.
          </div>
        </div>
  
        <div class="col-sm-6">
          <label for="email" class="form-label text-light">E-mail</label>
          <input type="email" class="form-control" id="email" placeholder="seunome@empresa.com">
          <div class="invalid-feedback text-danger">
            Por favor, insira um endereço de e-mail válido.
          </div>
        </div>
        <div class="col-sm-6">
          <label for="senha" class="form-label text-light">Senha</label>
          <input type="password" class="form-control" id="senha" placeholder="Insira uma senha de 8 dígitos">
          <div class="invalid-feedback text-danger">
            Por favor, insira uma válida.
          </div>
        </div>
  
        <div class="col-12">
          <label for="address" class="form-label text-light">Endereço</label>
          <input type="text" class="form-control" id="address" placeholder="Rua, Bairro, 1234" required>
          <div class="invalid-feedback text-danger">
            Por favor, digite seu endereço para o envio de correspondências.
          </div>
        </div>

        <div class="col-md-5"><br>
          <label for="state" class="form-label text-light">Estilo musical</label><br>
          <select class="form-select" id="state" required>
            <option value="">Escolha seu estilo musical</option>
            <option>Rock</option>
            <option>Pagode</option>
            <option>Forró</option>
            <option>Samba</option>
            <option>Indie</option>
            <option>Gospel</option>
            <option>Sertanejo</option>
          </select>
          <div class="invalid-feedback text-danger">
            Por favor escolha um estado válido.
          </div>
        </div>
         
  </div>      
</div>
  
     
  
     