<app-header></app-header>
<div class="container-fluid">
  <div class="container">
    <div class="py-5 text-center text-dark">
      <h2>Tela de Cadastro</h2>
      <p class="lead text-danger">Informações do Perfil de Usuário</p>
    </div>

    <form class="form-signin" #form="ngForm" (ngSubmit)="onSubmit(form)">
      <div class="row g-3">
        <div class="col-sm-6">
          <label for="firstName" class="form-label text-dark">Primeiro Nome:</label>
          <input
          class="inputNome"
          placeholder = "Nome" name ="nome" 
          type="text" class="form-control" id="firstName"
          placeholder="Nome" autofocus
          [(ngModel)]="nome" nome required
          [class.is-invalid]="exibeErro('nome',form)" #nomeInput>
            <p *ngIf="exibeErro('nome', form)" class="text-center text-danger"> Campo obrigatório </p>
        </div>
  
        <div class="col-sm-6">
          <label for="lastName" class="form-label text-dark">Último Nome:</label>
          <input
          class="inputSobrenome"
          placeholder = "Sobrenome" name ="sobrenome" 
          type="text" class="form-control" id="lastName"
          placeholder="Sobrenome" autofocus
          [(ngModel)]="sobrenome" sobrenome required
          [class.is-invalid]="exibeErro('sobrenome',form)" #SobrenomeInput>
            <p *ngIf="exibeErro('sobrenome', form)" class="text-center text-danger"> Campo obrigatório </p>
        </div>
       
        <div class="col-sm-6">
          <label for="email" class="form-label text-dark">E-mail</label>
          <input 
            class="inputEmail"
            type="email" class="form-control" 
            placeholder = "E-mail" name ="email"
            class="form-control" id="email"
            placeholder="Informe seu e-mail" autofocus
            [(ngModel)]="email" email required
            [class.is-invalid]="exibeErro('email',form)" #emailInput>
          <p *ngIf="exibeErro('email', form)" class="text-center text-danger"> Por favor, isira uma e-mail válido </p>
        </div>
        <div class="col-sm-6">
          <label for="senha" class="form-label text-dark">Senha</label>
          <input 
          class="inputSenha"
          type="password" class="form-control" 
          placeholder = "Senha" name ="senha"
          class="form-control" id="senha"
          placeholder="Informe seu e-mail" autofocus
          [(ngModel)]="senha" senha required
          [class.is-invalid]="exibeErro('senha',form)" #SenhaInput>
            <p *ngIf="exibeErro('senha', form)" class="text-center text-danger">Campo Obrigatório </p>
        </div>
        <br>
        <div class="col-sm-6">
            <div>
              <label for="data" class="text-dark">Data de Nascimento:</label><br>
              <input 
              class="inputData" class="form-control" 
              name ="data" id="data" autofocus
              [(ngModel)]="data" data required
              [class.is-invalid]="exibeErro('data',form)" #dataInput
              type="date" min="1900-01-01" max="2021-03-01">
              <p *ngIf="exibeErro('data', form)" class="text-center text-danger">Campo Obrigatório </p>
            </div>
        </div>

        <div class="col-sm-6"><br>
          <label for="state" class="form-label text-dark">Gênero</label><br>
          <select 
          class="inputGenero"
          type="select" class="form-control" name ="genero"
          class="form-control" id="genero" autofocus
          [(ngModel)]="genero" senha required #generolInput
          class="form-select"  required>
            <option value="">Escolha uma das opções abaixo</option>
            <option value="1">Masculino</option>
            <option value="2">feminino</option>
            <option value="3">Homem transgênero</option>
            <option value="4">Mulher transgênero</option>
            <option value="5">Cisgênero</option>
            <option value="6">Outro</option>
          </select>
          <p *ngIf="exibeErro('genero', form)" class="text-center text-danger">Campo Obrigatório </p>
        </div>

        <div class="col-sm-6 checkbox mb-3 text-dark">
          <label for="genero" class="text-dark"> Tornar sua opção de gênero vísível para outros usuários? </label><br>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="opcao1">
            <label class="form-check-label" for="inlineRadio1">Sim</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="opcao2">
            <label class="form-check-label" for="inlineRadio2">Não</label>
          </div>
        </div>

        <div class="col-sm-6"><br>
          <label for="state" class="form-label text-dark">
            Estilo musical
          </label><br>
          <select class="form-select" id="state" required>
            <option value="">Escolha seu estilo musical</option>
            <option value="1">Rock</option>
            <option value="2">Pagode</option>
            <option value="3">Forró</option>
            <option value="4">Samba</option>
            <option value="5">Indie</option>
            <option value="6">Gospel</option>
            <option value="7">Sertanejo</option>
          </select>
        </div>

        <div class="col-sm-7"><br>
          <div class="form-group">
            <label for="exampleFormControlFile1">Escolha uma foto para o seu perfil:</label>
            <input type="file" class="form-control-file" id="exampleFormControlFile1">
          </div>
        </div>

      </div>
      <div class="text-center">
        <button type="button" class="btn btn-lg btn-personalizado" type="submit" >Salvar</button>
      </div>
    </form>
        
    

  
     
  
     