 .container {
  background-color: antiquewhite;
  max-width: 960px;
  padding-bottom: 220px;
}

.btn-group-lg>.btn, .btn-lg {

  padding-right: 35px;
  padding-left: 35px;
  margin-right: 20px;
  font-size: 1.25rem;
  border-radius: .3rem;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}
