<app-header-pagina></app-header-pagina>
<app-capa-usuario></app-capa-usuario>
<app-header-perfil></app-header-perfil>

<div class="container-fluid">

    <div class="input-group">
        <input type="text" class="form-control pesquisa" placeholder="Pesquise por um amigo aqui ^^" aria-label="Buscar amigo" aria-describedby="basic-addon2">
            <div class="input-group-append">
                <button class="btn btn-personalizado" type="button">Pesquisar</button>
            </div>
    </div>
    <br>
    <app-lista-amigos></app-lista-amigos>
</div>


