<div class="overlay">
  <div class="overlay__wrapper">
    <div class="overlay__spinner">
      <div *ngIf="loading" class="spinner-border mb-8 text-center" role="status" >

      </div>
    </div>
  </div>
</div>


  
<h2 *ngIf="errorOnLoading" >Desculpa te decepcionar, mas ocorreu um erro :(</h2>
<table *ngIf="!loading && !errorOnLoading" class="table">
  <thead class="thead-dark">
    <tr class="text-center">
        <th scope="col">Id</th>
        <th scope="col">Nome</th>
          <!-- <th scope="col">Adicionar</th> -->
        <th scope="col">Excluir</th>
    </tr>
  </thead>
  <tbody>
    <div *ngFor="let page of banda[0].collection[page] | paginate: { itemsPerPage: contador, currentPage: paginaAtual}">
      <div *ngFor="let item of banda[0].collection[page].item | paginate: { itemsPerPage: contador, currentPage: paginaAtual}">
        <tr  class="text-center" >
          <td>{{item.id}}</td>
          <td>{{item.name}}</td>
          <!-- <td><button (click)="" class="btn btn-outline-dark">Adicionar</button></td> --> -->
          <td><button (click)="deletar(item.id)" class="btn btn-outline-danger">Apagar</button></td> -->
        </tr>
      </div>
    </div>
    

    <!-- <tr *ngFor="let bandas of banda" class="text-center"> -->
      <!-- <td>{{bandas.collection[0].id}}</td>
      <td>{{bandas.collection[0].name}}</td>
      <td><button (click)="" class="btn btn-outline-dark">Adicionar</button></td> -->
      <!-- <td><button (click)="deletar(bandas.collection[0].id)" class="btn btn-outline-danger">Apagar</button></td> --> --> -->
    <!-- </tr>   -->
</table>

<div class="text-right">
  <pagination-controls (pageChange)="paginaAtual = $event" previousLabel="Anterior" nextLabel="Próximo"></pagination-controls>
</div>

<!-- <div *ngIf="!loading && !errorOnLoading" class="btn-group pagination justify-content-center " role="group" >
  <nav >
    <ul>
      <button [disabled]="page===1" (click)="prev()" class="btn btn-outline-dark">Página Anterior</button>
      <button (click)="next()" class="btn btn-outline-dark">Próxima Página</button>
    </ul>
    
  </nav>
    
</div> -->
