<app-header></app-header>
<main>
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div style="display:none" id="fadeTeste" class="container">
        <h1 class="titulo-destaque">Abra sua Conta Gratuita</h1>
        <p class="descricao text-danger">Um jeito novo de se comunicar com seus amigos amantes de música.</p>
        <p><a class="btn btn-danger btn-lg" href="cadastro" role="button">Cadastre Aqui &raquo;</a></p>
      </div>
    </div>
</main>
