<div class="container">
  <div class="card">
    <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item">
          <a class="nav-link " href="painel-usuario">Dados de Usuário</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="extrato">Extrato</a>
        </li>
      </ul>
    </div>
    <div class="card-body">
      <h5 class="card-title">Movimentações Bancárias</h5>
      <p class="card-text">Conta:</p>
      <form class="needs-validation" novalidate>
        <div class="row g-3">
          <div class="col-sm-6">
            <label for="saldo" class="form-label">Saldo:</label>
            <input type="text" class="form-control" placeholder="" value="">
            <label for="saldo" class="form-label">Receber Dinheiro:</label>
            <input type="text" class="form-control" placeholder="" value="">
            <label for="saldo" class="form-label">Retirar:</label>
            <input type="text" class="form-control" placeholder="" value="">
          </div>
        </div>
      </form>
      <a href="home" class="btn btn-primary btn-lg ">Sair</a>
    </div>

    <div class="card-body">
      <hr class="my-4">
      <h5 class="card-title">Transferências Bancárias</h5>
      <p class="card-text">Conta de Destino:</p>
      <form class="needs-validation" novalidate>
        <div class="row g-3">
          <div class="col-sm-6">
            <label for="saldo" class="form-label">Agência:</label>
            <input type="text" class="form-control" placeholder="" value="">
            <label for="saldo" class="form-label">Conta Corrente/Poupança:</label>
            <input type="text" class="form-control" placeholder="" value="">
            <label for="saldo" class="form-label">Valor a Transferir:</label>
            <input type="text" class="form-control" placeholder="" value="">
          </div>
        </div>
      </form>
      <a href="home" class="btn btn-primary btn-lg">Sair</a>
    </div>

  </div>
</div>
