.container{
    border-width: 1em;
    background-color:#696969;
    border-radius: 15px;
    margin-left: 0;

}
.publicar{
    margin-top: 2em;
}
.input{
    margin-top: 1em;
}

.botao{
    margin-top: 1em;
    color: white;
    background: linear-gradient(to bottom, #ff0000 0%, #000000 100%);
}
svg:hover path {
    fill: #fc9b7e;
}
.nav-link{
    color: rgb(255, 255, 255);
}
.foto{
    margin-left:17em;
}

.video{
    margin-left:10em;
}

.localizacao {
    margin-left:10em;
}

.container{
    border-width: 1em;
    background-color:#696969;
    border-radius: 15px;
    margin-left: 0;
    margin-top:10px;
}


