<app-header-pagina></app-header-pagina>
<app-capa-usuario></app-capa-usuario>
<app-header-perfil></app-header-perfil>

<div class="container-fluid text-center">
    <div class= "titulo container">
       <h1>Resumo</h1> 
    </div>
    <br>
    <app-resumo></app-resumo>
    <br><br><br>
    <div class= "titulo container">
        <h1>Fotos</h1> 
    </div>
    <br>
    <app-lista-foto-usuario></app-lista-foto-usuario>
    <br><br><br>
    <div class= "titulo container">
        <h1>Vídeos</h1> 
    </div>
    <br>
    <app-lista-videos-usuario></app-lista-videos-usuario>
    <br><br><br>
    <div class= "titulo container">
        <h1>Amigos</h1> 
    </div>
    <br>
    <app-lista-foto-usuario></app-lista-foto-usuario>
    <br><br><br>

    <div class= "titulo container">
        <h1>Bandas Favoritas</h1> 
    </div>
    <br>
    <app-lista-banda-usuario></app-lista-banda-usuario>
</div>
