  <nav class="navbar navbar-expand-lg ">
    <div class="container-fluid ">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">IdMusic</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"></li>
            <li class="nav-item">
            <a class="nav-link" href="usuario">
                Publicações
            </a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="login">
                Sobre
            </a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="amigos">
                Amigos
            </a>
            </li>
            <li class="nav-item dropdown ">
                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Galeria
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="fotos">Fotos</a>
                    <a class="dropdown-item" href="videos" >Vídeo</a>
                </div>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <div>
                <li class="nav-item">
                    <a class="nav-link" href="editarPerfil">
                        editar perfil
                    </a>
                </li>
            </div>
        </ul>
    </div>
  </nav>
