.form {
  width: 100%;
  max-width: 330px;
  padding: 5px;
  padding-top: 90px;
  
  margin: 0 auto;
}
#logoLogin {

  background-color: rgba(247, 136, 45, 0.411);
  border-radius: 5px;
  width: 95px;
  height: 92px;
  background-image: url(logoBank.png);

}


