<app-header></app-header>
<div class="container-fluid" >
  <div class="form">
      <body class="text-center">
        <form class="form-signin">
          <img class id="logoRock" width=50 height=50> 
          <br><br>
          <h4 class="text-danger">Entre com sua conta</h4> <br>
          <label for="inputEmail" class="sr-only"></label>
          <input type="email" id="inputEmail" class="form-control" placeholder="Informe seu e-mail" required autofocus>
          <label for="inputPassword" class="sr-only"></label>
          <br>
          <input type="password" id="inputPassword" class="form-control" placeholder="Digite sua senha" required>
          <br>
          <div class="checkbox mb-3 text-danger">
            <label>
              <input type="checkbox" value="remember-me"> Lembrar-me 
            </label>
            <br>
           <a href="MudarSenha" class="text-danger">Esqueci minha senha</a>
          </div>
          <a class="btn btn-lg btn-personalizado btn-block"  href="usuario" role="button">Entrar</a>
          <p class="mt-5 mb-3 text-muted">&copy;Rock Book</p>
        </form>
      </body>
  </div>
</div>
  
