.container-fluid {
    background-color: #D3D3D3 !important;
    box-sizing: border-box;
}
body {
    background-color: #D3D3D3 !important;
}

.form {
    width: 100%;
    max-width: 330px;
    padding: 5px;
    padding-top: 65px;
    margin: 0 auto;
}
#logoRock{
  
    width: 260px;
    height: 280px;
    background-image: url(rock5.jpg);
  
}

.btn-personalizado {
    color: white;
    background: linear-gradient(to bottom, #ff0000 0%, #000000 100%);
    border-color: red;
}

