.container-fluid {
    background-color: #D3D3D3 !important;
    height: 800px;
}
body {
    background-color: #D3D3D3 !important;
}
a img{
    border-style:0;
}
.idmark{
    border-top:none;
}
.form {
    width: 100%;
    max-width: 330px;
    padding: 5px;
    padding-top: 65px;
    margin: 0 auto;
}
#logoRock{
  
    width: 230px;
    height: 230px;
    background-image: url(logo2.png);  
}

.imagem{
    border: none;
}


.btn-personalizado {
    color: white;
    background: linear-gradient(to bottom, #ff0000 0%, #000000 100%);
    border-color: red;
}

