<div class="form">
  <body class="text-center">
    <form class="form-signin">
      <img class="mb-4" id="logoLogin"  alt="">
      <h4>Entre com sua conta</h4> <br>
      <label for="inputEmail" class="sr-only"></label>
      <input type="email" id="inputEmail" class="form-control" placeholder="Informe seu e-mail" required autofocus>
      <label for="inputPassword" class="sr-only"></label>
      <input type="password" id="inputPassword" class="form-control" placeholder="Digite sua senha" required>
      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me"> Lembrar-me
        </label>
      </div>
      <a class="btn btn-lg btn-primary btn-block" href="extrato" role="button">Sign in</a>
      <p class="mt-5 mb-3 text-muted">&copy;G10 Bank 2021</p>
    </form>
  </body>
</div>
