<app-header-pagina></app-header-pagina>
<nav class="navbar">
    <div class="card text-center" style="width: 15rem">
        <img class="card-img-bottom rounded-circle" src="usuario.png" width="50" height="250">
    </div>
    <a class="nav-link" id="EditeCapa" href="">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-camera-fill" viewBox="0 0 16 16">
            <path d="M10.5 8.5a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
            <path d="M2 4a2 2 0 0 0-2 2v6a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2h-1.172a2 2 0 0 1-1.414-.586l-.828-.828A2 2 0 0 0 9.172 2H6.828a2 2 0 0 0-1.414.586l-.828.828A2 2 0 0 1 3.172 4H2zm.5 2a.5.5 0 1 1 0-1 .5.5 0 0 1 0 1zm9 2.5a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0z"/>
        </svg> 
        Editar capa
    </a>
    
  </nav>

<nav id="navigation" class="navbar2 navbar-expand-lg">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse d-lg-flex justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <li class="nav-item">
            <a class="nav-link" href="login">
                Publicações
          </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="login">
              Sobre
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="cadastro">
              Amigos
            </a>
          </li>
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle"  id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Galeria
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" >Fotos</a>
                <a class="dropdown-item" >Vídeo</a>
              </div>
          </li>
          <div><li class="nav-item">
            <a class="nav-link" href="login">
              editar perfil
            </a>
          </li></div>
          
      </ul>
    </div>
  </nav>

<footer></footer>
