.navbar{
    background-image: url(capa.png);
    position: relative;
    height: 500px;
    top:0em;
}
.fotoperfil{
    background-image: url(usuario.png);
    height: 200px;
}
.card{
    position: center;
    border-radius: 28em;
    margin-top:17em;
    margin-left: 50em;
    border-width: 0.3em;
}

#EditeCapa{
    margin-top:32em;
    margin-left:40em;
    color: #A9A9A9;
}

#navigation{
    background-image: url(capa.png);
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
nav a {
    text-decoration: none;
    text-align: center;
    color: #f3f2f2;
    margin-left: 20px;
}



