.container {
  max-width: 960px;
  padding-bottom: 150px;
}

.btn-group-lg>.btn, .btn-lg {
  padding: 10px ;
  padding-right: 35px;
  padding-left: 35px;
  margin-right: 20px;
  font-size: 1.25rem;
  border-radius: .3rem;
}

.card-body{
  background-color: rgb(243, 243, 243);
}

.card-body a {
  margin: 10px;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}
