<!-- Menu -->
<div id="lateral">
    <div id="menu">
        <li class="">
            <img class id="usuario" width=50 height=50>
        </li>         
        <h3 class="link-titulo">UserName</h3>
        <ul class="box">					
            <li class="nav-item">
                <a class="nav-link">Meu perfil</a>
            </li>
            <li class="nav-item">
                <a class="nav-link">Mural de likes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link">Lista de Amigos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link">Minha Galeria</a>
            </li>
            <li class="nav-item">
                <a class="nav-link">Bandas</a>
            </li>
        </ul>
    </div> 
</div> 
<!-- Fim Menu -->
<!-- Postagem -->
