<div class="float-left Container">
    <ul class="nav flex-column navbar-fixed-top">
        <div class="container">
            <div class="col-lg-6">
                <li class="nav-item">
                    <a class="nav-link">BUNNY</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"><img src="imagens/vetor_foto_de_perfil.png"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">Meu perfil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">Mural de likes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">Fraternidades</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">Faculdades</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">Cursos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">Fóruns</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">Editar perfil</a>
                </li>
            </div>
        </div>
    </ul>
</div>