.header {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
}
  
#navigation {
    
 
    background: linear-gradient(to bottom, #ff0000 0%, #000000 100%);

    // background-color: #a38560;
    // background-image: linear-gradient(315deg, #a38560 0%, #e0d4ae 74%);
    // background-color: #D1B02A; span { border-color: #D1B02A; }
}
  
header .logo {
    margin-left: 5px;
    font-family: Roboto;
    font-weight: 600;
    font-size: 25px;
    padding-right: 15px;
}
  
header nav a {
    text-decoration: none;
    color: #f3f2f2;
    margin-right: 10px;
}
  
header nav a:hover {
    color: #fff;
}
  
 
#logoRock {
  
    background-image: url(letsrock.png)
  
}