.container-fluid{
    background-color: #D3D3D3 !important;
    background-size: cover;
    padding:2em;
    height: 1000px;
}

.btn-personalizado {
    color: white;
    background: linear-gradient(to bottom, #ff0000 0%, #000000 100%);
    border-color: red;
    margin-left: 0.9em;
}

.input-group{
    width: 500px;
    margin-left: 550px;
}