.container-fluid{
    background-color: #D3D3D3 !important;
    background-size: cover;
    padding:2em;
    height: 1000px;
}

.container{
    background-color:#696969;
}

.card{
    height: 151px;
    width: 5px;
    background-color:#696969!important;
    border:none;
}

.card-img-top{
    margin-left: 25px;
    height: 150px;
    width: 120px;
    
}

.card-deck{
    padding:1em;
    width: 600px;
}