<div class="container container-sm"> 
    <div class="card " style="width: cover;">
        <img class="card-img-top w-25 " src="IMG_20171224_220303356.jpg" alt="Max-width 100%">
        <div class="card-body form-inline">
            <div class="checkbox mb-3">
                <div class="form-check form-check-inline">
                    <a class="form-check-input" name="inlineRadioOptions" id="inlineRadio1" value="curtida">
                        <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
                        </svg>
                    </a>
                </div>
            </div>
            <form class="form-inline">
                <div class="form-group mx-sm-3 mb-2">
                <input type="text" class="form-control" id="inputPassword2" placeholder="Insira um comentário">
                </div>
                <button type="submit" class="btn btn-personalizado mb-2">Publicar</button>
            </form>
        </div>
    </div>
</div>
